<div class="quiz-maker">
  <h2 class="title">QUIZ MAKER</h2>
  <div class="quiz-maker-selector-section">
    <mat-form-field appearance="outline">
      <mat-label>Choose Category</mat-label>
      <mat-select id="categorySelect" [formControl]="categoryControl" required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryControl.hasError('required')"
        >Please choose a category</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose Category</mat-label>
      <mat-select
        id="difficultySelect"
        [formControl]="difficultyControl"
        required
      >
        <mat-option
          *ngFor="let difficulty of difficulties"
          [value]="difficulty"
        >
          {{ difficulty }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="difficultyControl.hasError('required')"
        >Please choose a difficulty</mat-error
      >
    </mat-form-field>
    <button
      id="createBtn"
      class="quiz-maker-button"
      mat-stroked-button
      color="primary"
      (click)="createQuiz()"
      [disabled]="
        categoryControl.hasError('required') ||
        difficultyControl.hasError('required')
      "
    >
      Create
    </button>
  </div>
  <h4 *ngIf="showLoading">Loading...</h4>
  <app-quiz *ngIf="quiz && !showLoading" [quiz]="quiz"></app-quiz>
</div>
