<div class="quiz-maker">
  <h2 class="title">QUIZ MAKER</h2>
  <form [formGroup]="quizForm" class="quiz-maker-selector-section">
    <mat-form-field>
      <mat-label>Choose Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="category.hasError('required')"
        >Please choose a category</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Choose Category</mat-label>
      <mat-select formControlName="category" required>
        <mat-option>{{ Difficulty.EASY }}</mat-option>
        <mat-option>{{ Difficulty.MEDIUM }}</mat-option>
        <mat-option>{{ Difficulty.HARD }}</mat-option>
      </mat-select>
      <mat-error *ngIf="difficulty.hasError('required')"
        >Please choose a difficulty</mat-error
      >
    </mat-form-field>
    <button matButton type="submit">Submit</button>
  </form>
</div>
