<div class="quiz">
  <div *ngFor="let question of quiz?.results">
    <!-- I use innerHTML here in order to decode the HTML codes from the api response string -->
    <span [innerHTML]="question.question"></span>
    <mat-button-toggle-group
      [(ngModel)]="question.userAnswer"
      aria-label="Font Style"
    >
      <mat-button-toggle
        (click)="checkAllQuestionsAnswered()"
        *ngFor="let answer of question.all_answers"
        [value]="answer"
        ><span [innerHTML]="answer"></span
      ></mat-button-toggle>
    </mat-button-toggle-group>
    <span>{{ question.userAnswer }}</span>
  </div>
  <button *ngIf="showSubmit" mat-stroked-button (click)="goToResults()">
    Submit
  </button>
</div>
