<div class="quiz">
  <div *ngFor="let question of quiz?.results">
    <!-- I use innerHTML here in order to decode the HTML codes from the api response string -->
    <span [innerHTML]="question.question"></span>
    <mat-button-toggle-group
      [(ngModel)]="question.userAnswer"
      aria-label="Font Style"
    >
      <mat-button-toggle
        *ngFor="let answer of question.all_answers"
        [value]="answer"
        >{{ answer }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <span>{{ question.userAnswer }}</span>
  </div>
</div>
